{% for update in twim %}
  [{{ update["nick"] }}](https://matrix.to/#/{{ update["mxid"] }}) [reports that](https://matrix.to/#/{{ update["room"] }}/{{ update["event_id"] }}):


      {{ update["message"]|replace("TWIM: ", "")|replace("TWIM", "")}}


{% endfor %}
