<html>
  <head>
    <title> TWIM Posts</title>
  </head>
  <body>

    {% for update in twim %}
      <a href="https://matrix.to/#/{{ update["mxid"] }}">{{ update["nick"] }}</a>
      <a href="https://matrix.to/#/{{ update["room"] }}/{{ update["event_id"] }}">reports that</a>:

      <blockquote>
        {% if "TWIM: " in update["message"] %}
          {{ update["message"]|replace("TWIM: ", "", 1)|markdown }}
        {% else %}
          {{ update["message"]|replace("TWIM", "", 1)|markdown }}
        {% endif %}

      {% if update["image"] %}
        <img src="{{ update['image'] }}" alt="{{ update['message'] }}">
      {% endif %}

      </blockquote>

    {% endfor %}

  </body>
</html>
